*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0c29; 
        background: -webkit-linear-gradient(to bottom, #24243e, #0f0c29,#302b63); 
        background: linear-gradient(to top,#1f1c3e, #131322, #000000);
}

::-webkit-scrollbar-thumb {
  background-color: #7a00ff;
  border-radius: 0px;
  border: 2px solid #180f0f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c00c9;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    background-color:#1f1c3e;
}

body .navbring{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    display: none;
    border-radius: 0px 0px 0px 10px;
    backdrop-filter: blur(5px);
    background-color: #0000001f;
}
body .navbring button{
    color:#9e43ff;
    background-color: transparent;
    border: 0px;
    font-size: 1.7rem;
}

body .togglenav{
    display: none;
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 9999;
    height: 100%;
    width: 50%;
    background-color: #00000032;
    backdrop-filter: blur(10px);
    box-shadow: 2px 0px 10px black;
    transform: translateX(100%);
}

body .togglenav .navcut{
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 50px 20px;
}

body .togglenav .navcut button{
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    /* border: 2px solid white; */
    border: 0px;
    padding: 10px;
    border-radius: 50%;
}


body .togglenav .navoptions2{
    padding: 10px 30px;
}

body .togglenav .navoptions2 li{
    list-style: none;
    transition: 0.5s;
    padding: 20px 5px;
}

body .togglenav .navoptions2 li a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    transition: 1s;
}

body .togglenav .navoptions2 li a:hover{
    border-bottom: 1px solid white;
}

.glow-on-hover2 {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #6a3093;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 20px 0px;
}



.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #7F00FF, #E100FF, #ff00c8,#7b00ff, #7a00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover2:active {
    color: #000
}

.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

body nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(10px);
}

body nav .navoptions{
    display: flex;
    justify-content: center;
    align-items: center;
}

body nav .navoptions li{
    list-style: none;
    padding: 10px 25px;
    transition: 0.5s;
}

body nav .navoptions li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
    transition: 1s;
}

body nav .navoptions li a:hover{
    border-bottom: 1px solid white;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #6a3093;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 30px;
    
}



.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #7F00FF, #E100FF, #ff00c8,#7b00ff, #7a00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


body .home{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #24243e, #0f0c29,#302b63);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top,#1f1c3e, #131322, #000000);
}

body .home .left{
    width: 40%;
    padding-top: 0px;
    padding: 0px 50px 50px 50px;
    margin-right: 50px;
    padding-left: 200PX;
}


body .home .left .intro-name{
    padding: 5px 10PX;
    font-weight: 500;
    background-color: #7b00ff3a;
    border-radius: 5px;
}

body .home .left .intro-greet{
    margin: 10px 0px;
    font-size: 3rem;
    font-weight: 800;
}

body .home .left .intro-greet-next{
    margin: 10px 0px;
    font-size: 3rem;
    font-weight: 800;
    color: #7a00ff;
    animation: typing 3.5s steps(50, end),blink-caret .75s step-end infinite,blink-caret-last .75s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid #7a00ff;
    animation-delay: 1.5s;
}

body .home .left .intro-quote{
    font-size: 1.5rem;
    width: 100%;
}

body .home .right{
    width: 40%;
    /* padding-top: 100PX; */
}

body .home .right img{
    height: 550px;
    padding: 0px 30px;
    border-bottom: 3px solid white;
    animation: backgroundmove 10s;
    animation-iteration-count: infinite;
    background-color: #7b00ff;
    box-shadow: 0px 0px 200px black inset,0px 0px 500px black inset;
}

@keyframes backgroundmove {
    0%{
        
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    40%{
        background-color:#7b00ff;
        border-radius: 72% 28% 70% 30% / 30% 72% 28% 70% ;
    }
    80%{
        background-color: #7b00ff;
        border-radius: 72% 28% 45% 55% / 68% 72% 28% 32%  ;
    }
    100%{
        background-color: #7b00ff;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from {
        border-color:#7a00ff;
    }

    to {
        border-color: transparent;
    }
  }

  @keyframes blink-caret-last {
    0% {
        border-color:#7a00ff;
    }

    50% {
        border-color: transparent;
    }
    100% {
        border-color:#7a00ff;
    }
  }

body .home .left .socials{
    margin-top: 30px;
}

body .home .left .socials a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    max-width: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: 0.5;
}

body .home .left .socials .fb{
    padding: 10px 12px;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body .home .left .socials .linkedin{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body .home .left .socials .git{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body .home .left .socials .insta{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body .languages{
    background-color:#1f1c3e;
}

body .languages .languages-scroll{
    width: 78%;
    margin-left: 220px;
    background-color: rgba(0, 0, 0, 0.27);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.731) inset;
}

body .languages .languages-scroll .inner-scroll{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body .languages .languages-scroll .inner-scroll img{
    height: 100px;
}

body .about{
    padding-top: 100px;
    padding-left: 220px;
    color: white;
    /* padding: 100px 10px 0px 0px; */
    background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #24243e, #0f0c29,#302b63);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom,#1f1c3e, #131322, #000000);
}

body .about .main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 1.4rem;
    font-weight: 300;
    background-color: rgba(0,0,0,0.27);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.731) inset;
    width: 85%;
    line-height: 1.7;
}

body .about .main-about p strong{
    font-size: 1.7rem;
    color: #9500ff;
    font-weight: 500;
}

body .about .about-title{
    font-size: 2rem;
    font-weight: 900;
}

@media (max-width: 1568px) {
    body .home .right img{
        height: 450px;
    }
}
@media (max-width: 1340px) {
    body .home .right img{
        height: 300px;
    }

    body .home .left{
        padding-left: 100PX;
    }
    
    
    body .home .left .intro-name{
        padding: 5px 10PX;
        font-weight: 500;
        background-color: #7b00ff3a;
        border-radius: 5px;
    }
    
    body .home .left .intro-greet{
        margin: 10px 0px;
        font-size: 2.5rem;
        font-weight: 800;
    }
    
    body .home .left .intro-greet-next{
        font-size: 2rem; 
    }
    
    body .home .left .intro-quote{
        font-size: 1rem;
    }
    body .languages .languages-scroll{
        margin-left: 130px;
    }
    body .languages .languages-scroll .inner-scroll img{
        height: 80px;
        margin: 0px 20px;
    }
    body .about{
        padding-left: 130px;
    }
    body .about .main-about{
        padding: 40px 10px 40px 40px;
        font-size: 1.2rem;
    }
    body .about .main-about p strong{
        font-size: 1.4rem;
        font-weight: 500;
    }
    
    body nav{
        padding: 10px;
    }
    body nav .navoptions li{
        padding: 10px 15px;
    }
}

@media (max-width: 1130px){

    body .home
    {
        padding-top: 20px;
        flex-direction: column;
    }
    body .home .left{
        width: 80%;
    }
    body .home .left .intro-greet{
        font-size: 2.5rem;
    }
    
    body .home .left .intro-greet-next{
        font-size: 3rem; 
        padding-right: 0px;
    }
    
    body .home .left .intro-quote{
        font-size: 1.5rem;
    }

    body nav .navoptions li{
        padding: 5px 15px;
    }
    
    body nav .navoptions li a{
        font-size: .9rem;
    }
    body .home .left .socials{
        
        display: none;
    }
    body .languages .languages-scroll{
        margin-left: 120px;
        margin-top: 30px;
    }
    body .languages .languages-scroll .inner-scroll img{
        height: 80px;
        margin: 0px 20px;
    }
    body .about{
        padding-left: 120px;
    }
}

@media (max-width : 940px){
    body .home .left .intro-greet{
        font-size: 2rem;
    }
    
    body .home .left .intro-greet-next{
        font-size: 2rem; 
        padding-right: 0px;
    }
    
    body .home .left .intro-quote{
        font-size: 1rem;
    }
    body .home .right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-top: 100PX; */
    }
    body .languages .languages-scroll{
        margin-left: 100px;
    }
    body .languages .languages-scroll .inner-scroll img{
        height: 60px;
        margin: 0px 20px;
    }
    body .about .about-title{
        font-size: 1.5rem;
    }
    body .about{
        padding-left: 100px;
    }
    body .about .main-about{
        padding: 40px 10px 40px 40px;
        font-size: 1.1rem;
    }
    body .about .main-about p strong{
        font-size: 1.2rem;
        font-weight: 500;
    }
}

@media (max-width : 700px){
    body nav{
        display: none;
    }
    body .navbring{
        display:block;
    }
    body .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body .home .right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-top: 100PX; */
    }
    body .languages .languages-scroll{
        margin-left: 70px;
    }
    body .languages .languages-scroll .inner-scroll img{
        height: 60px;
        margin: 0px 20px;
    }
    body .about{
        padding-left: 75px;
    }
}

@media (max-width : 500px){
    body .home .right img{
        height: 200px;
    }
    body .home{
        padding: 100px 10px;
        display: block;
        margin-top: 0px;
        align-items: start;
        height: 80%;
    }
    body .home .left{
        
        width: 90%;
        margin: 0px 10px;
        padding: 0px;
        margin-bottom: 100px;
    }
    body .home .left .intro-name{
        font-size: 0.9rem;
        padding: 2px 8px;
        font-weight: 500;
        background-color: #9e43ff96;
        border-radius: 3px;
    }
    body .home .left .intro-greet{
        margin: 5px 0px 0px 0px;
        font-size: 1.4rem;
        font-weight: 800;
    }
    body .home .left .intro-greet-next{
        margin: 0px 0px;
        font-size: 1.4rem;
        font-weight: 800;
        color: #9e43ff;
        animation: typing 3.5s steps(50, end),blink-caret .75s step-end infinite,blink-caret-last .75s infinite;
        white-space: nowrap;
        overflow: hidden;
        border-right: 5px solid #7a00ff;
        animation-delay: 1.5s;
    }
    body .home .left .intro-quote{
        font-size: 1rem;
        width: 100%;
        align-content: center;
        margin-top: 10px;
    }

    body .home .right{
        width: 100%;
        /* padding-top: 100PX; */
    }

    body .home .right img{
        height: 250px;
        padding: 30px 30px 0px 30px;
        border-bottom: 0px solid white;
    }
    body .home .left .socials{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    body .home .left .socials a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        min-width: 50px;
        max-width: 50px;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.2rem;
        transition: 0.5;
    }
    body .togglenav{
        display: none;
        position: fixed;
        top: 0px;
        left: 0%;
        z-index: 9999;
        height: 800px;
        width: 50%;
        background-color: #00000032;
        backdrop-filter: blur(10px);
        box-shadow: 2px 0px 10px black;
        transform: translateX(100%);
    }

    body .togglenav .navcut{
        background: transparent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 20px;
    }

    body .togglenav .navcut button{
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        /* border: 2px solid white; */
        border: 0px;
        padding: 10px;
        border-radius: 50%;
        rotate: 180deg;
    }
    body .togglenav .navoptions2{
        padding: 60px 30px;
    }

    body .togglenav .navoptions2 li{
        list-style: none;
        transition: 0.5s;
        padding: 10px 5px;
    }

    body .togglenav .navoptions2 li a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        transition: 1s;
    }

    body .togglenav .navoptions2 li a:hover{
        border-bottom: 1px solid white;
    }
    .glow-on-hover2 {
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        color: #ffffff;
        background: #6a3093;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 500;
        margin: 300px 0px 0px 0px;
    }
    body{
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #24243e, #0f0c29,#302b63);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top,#1f1c3e, #131322, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: "Nunito Sans", serif;
        font-optical-sizing: auto;
    }
    body .languages .languages-scroll{
        margin-left:30px;
    }
    body .languages .languages-scroll .inner-scroll img{
        height: 50px;
        margin: 0px 20px;
    }
    body nav{
        /* display: none; */
        padding: 0px;
        background-color: black;
    }
    body .about{
        padding-left: 30px;
    }
    body .about .main-about{
        padding: 10px 10px 10px 10px;
        font-size: 1rem;
        width: 83%;
        margin-top: 15px;
    }
    body .about .main-about p strong{
        font-size: 1rem;
        font-weight: 500;
    }
    body .about .about-title{
        font-size: 1.3rem;
        font-weight: 900;
    }
}

